.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 140px;
}
.header img{
    width: 50px;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;     
    font-weight: bold;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
.activeClassName{
    padding: 5px 7px;
    background-color: rgb(1, 29, 82);
}